<p id="notice"><%= notice %></p>

<div class="section-header">
      <span class="section-title">Name</span>
</div>
<div class="section-content">
      <%= @doc.name %>
</div>
<div class="section-header">
    <span class="section-title">Short description</span>
 </div>
<div class="section-content">
       <%= @doc.shortdesc %>
</div>
<div class="section-header">
  <span class="section-title">Brief:</span>
 </div>
<div class="section-content">
 <%= @doc.brief %>
</div>
<div class="section-header">
    <span class="section-title">Full:</span>
  </div>
<div class="section-content">
  <%= @doc.fulldocument.html_safe %>
</div>

<%= link_to 'Edit', edit_doc_path(@doc) %> |
<%= link_to 'Back', docs_path %>
