<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @doc.name %>
</p>

<p>
  <b>Brief:</b>
  <%= @doc.brief %>
</p>

<p>
  <b>Data:</b>
  <%= @doc.data %>
</p>


<%= link_to 'Edit', edit_doc_path(@doc) %> |
<%= link_to 'Back', docs_path %>
